input, .modal {
  color: black;
}


.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
}
.row .alert {
  margin-top: 25px;
}
th, td {
  border-top: none !important;
}

h3 {
  padding: 12px;
  border-top-right-radius: 20px;
  font-weight: bolder;
  letter-spacing: .1em;
}

.modal-content{
  border-radius: 0;
}

.modal-header, .modal-footer {
  background-color: #333;
  color: white;
  border: 0;
}

.modal-body {
  background: #2c3e50;
  color: white;
}

.close, .close:hover {
  color: white;
}

.btn {
  font-weight: bolder;
  letter-spacing: .2em;
}

